body {
    /* background-image: url("img/bomb.png"); */
    /* color: white;
    text-align: center;
    align-items: center; */

}
h1 {
    font-size: 80px;
    text-align: center;
}

table {
    border: 1px solid black;
    margin:auto;
    /* background-color: #c67a7a ; */

    
}

.board td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    transition: background-color 0.5s;
    /* cursor: pointer; */
}

.cell {
    width: 35px;
    height: 50px;
    background-color: rgb(83, 81, 81);
    position: relative;
    /* border-radius: 7px; */
}
.hideCell {
   background: rgb(154, 154, 154);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 10;
}

.board img {
    width: 60px;
    height: 60px;
}

.timer {
    text-align: center;
    font-size: 20px;
    
}

